<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo tempore minus voluptatum fugit possimus quasi accusantium temporibus ut rerum repudiandae!</p>
    </header>

</section>

<section class="block block__dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo tempore minus voluptatum fugit possimus quasi accusantium temporibus ut rerum repudiandae!</p>
          </section>
  </div>